include components/head.pug
body
  include components/header.pug
  main
    div.w-screen.h-screen.flex.justify-center.items-center
      div.bg-main-bg-fg.p-4.w-128.rounded-lg.flex.flex-col.gap-4
        h2.text-2xl Register
        != Form({action: 'register',method: 'POST',input: {size: "md",variant: "bg"},fields: [{ name: 'firstName', type: 'text', label: 'First name', required: true },{ name: 'lastName', type: 'text', label: 'Last name', required: true },{ name: 'email', type: 'email', label: 'Email', required: true },{ name: 'password', type: 'password', label: 'Password', required: true }],button: {size: "md",variant: "bg"}})
        a.pt-4(href="/login") Already have an account? Login.
  include components/footer.pug
